<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="c2gconsultants,connect2grow" name="keywords">
  <meta
    content="Great companies are built on a foundation of culture and values. Our partnership approach is what &nbsp;makes One Degree North unique, personal and successful."
    name="description">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <title>Traid Tech</title>
</head>

<body>

  {{>navbar}}

  {{!-- hero section starts --}}


  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div
            class="col-md-6 col-12 hero-text order-md-0 order-1  d-flex justify-content-center align-items-center flex-column ">
            <h1>Provide rapid solutions for your buisness </h1>
            <h1>Design Develop Deliver</h1>
            {{!-- <p>We are the team of <span class="bold-style"> Professional developers</span></p> --}}
            <a href="/blog"> <button class="btn    btn-primary">Read more!</button></a>
          </div>
          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
              <img src="images/image5.png" alt="">
            </figure>

          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- hero section ends --}}


  {{!-- about section starts --}}

  {{>about}}

  {{!-- about section ends --}}


  {{!-- service section ends --}}
  {{>service}}

  {{!--service section ends --}}

  {{!--map section ends --}}
  {{>map}}

  {{!--mapsection ends --}}

  {{!--contact section starts --}}
  {{>contact }}

  {{!--contact section ends --}}


  {{!--footer section starts --}}

 
        



        {{!-- <button class="btn btn-success">DONE</button> --}}

        <script src="../jq/jquery.js" type="text/javascript"></script>
        <script src="../js/bootstrap.js" type="text/javascript"></script>



</body>

</html>