<div class="container-fluid mt-5 about-style " id="serviceid" >
  <div class=" row">
  <div class="col-md-10 col-12 mx-auto">
    <h1 class="text-center main-heading">Our services</h1>
    <p class="text-center sub-heading"></p>
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <div class="our-services settings">
            <div class="icon">
              <img src="images\icons8-web-96.png" alt="">
            </div>
            <h4>Web Development</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, eligendi.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="our-services  speedup">
            <div class="icon">
              <img src="images\icons8-design-96.png" alt="">
            </div>
            <h4>Ui Design</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, eligendi.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="our-services privacy">
            <div class="icon">
              <img src="images\icons8-app-store-96.png" alt="">
            </div>
            <h4>App Development</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, eligendi.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="our-services backups">
            <div class="icon">
              <img src="images\icons8-unicast-96.png" alt="">
            </div>
            <h4>It Solutions</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, eligendi.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="our-services ssl">
            <div class="icon">
              <img src="images\icons8-launchpad-100.png" alt="">
            </div>
            <h4>Hosting</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, eligendi.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="our-services database">
            <div class="icon">
              <img src="images\icons8-cloud-128r.png" alt="">
            </div>
            <h4>Cloud</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, eligendi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>